@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Roboto:wght@300;400&display=swap');

body{
  background-image: url(./bg.webp);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 110vh;
}

header {
  padding: 20px;
  color: white;
  position: sticky;
  top: 0;
}

header .navBox a {
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  transition: all 0.5s;
}

.logoBox {
  display: inline-block;
  position: absolute;
  left: 3rem;
  width: 150px;
  font-weight: 500;
  font-size: larger;
  cursor: pointer;
  transition: all 0.5s;
}

.logoBox:hover{
  color:salmon;
}

.navBox {
  width: 600px;
  display: inline-block;
  position: absolute;
  right: 20px;
}

.navBox .homie {
  color: salmon;
}

.navBox a:hover {
  color: salmon;
}

.heading {
  color: salmon;
  font-size: 70px;
  position: relative;
  display: inline-block;
  top: 40px;
  left: 3rem;
}

.heading+h3 {
  color: #cbd5e1;
  font-size: 40px;
  width: 300px;
  position: relative;
  left: 3rem;
}

p{
  font-style: italic;
  color: #cbd5e1;
  position: relative;
  left: 3rem;
  width: 600px;
  word-spacing: 3px;
  letter-spacing: 1px;
}

.btn {
  width: 150px;
  height: 50px;
  background-color: salmon;
  border: 2px solid salmon ;
  position: relative;
  left: 5rem;
  margin-top: 4rem;
  color:  black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover{
  background-color: black;
  color: white;
}

footer {
  color: #cbd5e1;
  text-align: center;
  position: fixed;
  bottom: 0;
}